/* the * applies to everything, so thee is a border around everything */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* this makes everythign in the body tag have a backgrounf that shade of white */
body {
    background-color: #d9dcd6;
}
/* anything that calls to this class will have those properties */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* any use of the <h1> element under a parent that calls to the "header" class will have these properties*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* As originally written, anything called to this seo class that's also under the parent of the <h1> element
and under a parent that calls to the "header" class will have these properties*/
/* However, because there is only one use of the seo class, it was unnecessary to define it under header and h1.
So I changed it to just the seo class */
.seo {
    color: #d9dcd6;
}
/* As originally written, any <div> element that's also under a parent that calls to the "header" class will have these properties*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* As originally written, any <ul> element that's under a parent <div> element that's also under a parent 
that calls to the "header" class will have these properties*/
.header div ul {
    list-style-type: none;
}
/* As originally written, any <li> element that's also under a parent <ul> element that's under a parent <div> element 
that's also under a parent that calls to the "header" class will have these properties*/

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* any use of the <a> element  */
a {
    color: #ffffff;
    text-decoration: none;
}
/* any use of the <p> element has this font size */
p {
    font-size: 16px;
}
/* anything called to this class has these properties */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* anything called to this class has these properties */
.float-left {
    float: left;
    margin-right: 25px;
}
/* anything called to this class has these properties */
.float-right {
    float: right;
    margin-left: 25px;
}
/* anything called to this class has these properties */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* anything called to this class has these properties */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* benefit-lead, benefit-brand, and benefit-cost all had the same style properties. They were combined into one class */
/* For the sake of this HW assignment, where I should describe the changes I made, I commented out the previous classes instead of deleting them */
.benefit-sub {
    margin-bottom: 32px;
    color: #ffffff;    
}


/* .benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* benefit-lead h3, benefit-brand h3, and benefit-cost h3 all had the same style properties. They were combined into one class */
/* For the sake of this HW assignment, where I should describe the changes I made, I commented out the previous classes instead of deleting them */
.benefit-sub h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* .benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* benefit-lead img, benefit-brand img, and benefit-cost img all had the same style properties. They were combined into one class */
/* For the sake of this HW assignment, where I should describe the changes I made, I commented out the previous classes instead of deleting them */
.benefit-sub img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* search-engine-optimization, online-reputation-management, and social-media-marketing all had the same style properties. 
They were combined into one class */
/* For the sake of this HW assignment, where I should describe the changes I made, I commented out the previous classes instead of deleting them */
.main-stuff {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* search-engine-optimization img, online-reputation-management img, and social-media-marketing img 
all had the same style properties. They were combined into one class */
/* For the sake of this HW assignment, where I should describe the changes I made, I commented out the previous classes instead of deleting them */
.main-stuff img {
    max-height: 200px;
}

/* .search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
} */

/* search-engine-optimization h2, online-reputation-management h2, and social-media-marketing h2 
all had the same style properties. They were combined into one class */
/* For the sake of this HW assignment, where I should describe the changes I made, I commented out the previous classes instead of deleting them */

.main-stuff h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* 
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* anything called to this class will have these properties */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* anything called to this class will have this font size */
.footer h2 {
    font-size: 20px;
}
